@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 16px;
}

body {
	margin: 0;
	background: #000;
}

h1,
h4,
p,
a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.btn {
	padding: 12px 32px;
	font-size: 1rem;
	text-transform: uppercase;
	color: #222;
	border: 1px solid #fff;
	background: rgb(183, 171, 90);
	font-weight: 500;
	cursor: pointer;
}

.btn-light {
	background: transparent;
	color: #fff;
}

.btn:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	transition: 0.3s;
}
