
body {
    font-family: 'Roboto', sans-serif;
}

.hero-img {
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center; /* vertically center the content */
    justify-content: center; /* horizontally center the content */
}

.hero-img::before {
    content: '';
    background: url('https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fFByb2dyYW1taW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading {
    width: 80%; 
    text-align: center; 
    padding: 15px; 
    border-radius: 5px; 
}

.heading h1 {
    font-size: 2.4rem;
    margin-bottom: 15px; 
    color: #ffffff; 
    font-weight: 700; 
}

.heading p {
    font-size: 1.4rem;
    color: #f5f5f5; 
}


/* Mobile adjustments */
@media screen and (max-width: 640px) {
    .hero-img h1 {
        font-size: 2rem;
    }

}
